In [ ]:
# Data Science and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-Learn
3. NumPy
4. Plotly
5. Caret

# Data Science Tools

|Jupyter Notebooks|RStudio|VsCode|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

[1] 17

This will convert 200 minutes to hours by diving by 60

In [3]:
(200/60)

[1] 3.333333

# Objectives
* Python
* Javascript
* Python
* Julia
* SQL

<h2>Author</h2>

Justin Campo (Golden Alien)